[Desktop Entry]
Name=Py Crawl
Comment=Crawl and analyze folder structures
Exec="/home/anthony/Documents/GitProjects/Crawler/run_crawler.sh"
Icon=/home/anthony/Documents/GitProjects/Crawler/crawler_icon.svg
Terminal=false
Type=Application
Categories=Development;Utility;
StartupNotify=true
